venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class


**/__pycache__/
**/.venv/
**/.pytest_cache/
**/__pycache__/
**/automatic_irrigation.egg-info/
**.vscode/
error.log

.env
*.env



*.log
.git/
.gitignore


.vscode/
.idea/
.DS_Store